torch
transformers
accelerate
peft
datasets
optimum
optimum-amd
sentencepiece
sentence-transformers
faiss-cpu
#vllm
fastapi
uvicorn
gradio
requests
tqdm
bitsandbytes
scikit-learn
numpy
scipy
tensorboard
wandb
pytest
pytest-cov